# EDA on training data (JW)

In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
train_df = pd.read_csv('assets/input/train.csv')
test_df = pd.read_csv('assets/input/test.csv')
# weather_df = pd.read_csv('west_nile/input/weather.csv', na_values='M')
# spray_df = pd.read_csv('west_nile/input/spray.csv')

In [16]:
print(train_df.shape)
print(test_df.shape) 
# The test set is an order of magnitude greater because there are, presumably, entries for every trap, species, and day.

(10506, 12)
(116293, 11)

In [17]:
list(train_df.columns)

['Date',
 'Address',
 'Species',
 'Block',
 'Street',
 'Trap',
 'AddressNumberAndStreet',
 'Latitude',
 'Longitude',
 'AddressAccuracy',
 'NumMosquitos',
 'WnvPresent']

In [19]:
print("Unique days in training: ", len(train_df.Date.unique()))
print("Unique traps in training: ", len(train_df.Trap.unique()))
print("Unique species in training: ", len(train_df.Species.unique()))
print(len(train_df.Date.unique()) * len(train_df.Trap.unique())* len(train_df.Species.unique()))

Unique days in training:  95
Unique traps in training:  136
Unique species in training:  7
90440

In [20]:
print("Unique days in test: ", len(test_df.Date.unique()))
print("Unique traps in test: ", len(test_df.Trap.unique()))
print("Unique species in test: ", len(test_df.Species.unique()))
print(len(test_df.Date.unique()) * len(test_df.Trap.unique())* len(test_df.Species.unique()))

Unique days in test:  95
Unique traps in test:  149
Unique species in test:  8
113240

In [21]:
print("In the TRAINING data:\n----------")
for bug in train_df['Species'].unique():
    print("There are {} cases with the mosquito {}".format(train_df['WnvPresent'][train_df['Species']==bug].sum(), bug))

In the TRAINING data:
----------
There are 262 cases with the mosquito CULEX PIPIENS/RESTUANS
There are 49 cases with the mosquito CULEX RESTUANS
There are 240 cases with the mosquito CULEX PIPIENS
There are 0 cases with the mosquito CULEX SALINARIUS
There are 0 cases with the mosquito CULEX TERRITANS
There are 0 cases with the mosquito CULEX TARSALIS
There are 0 cases with the mosquito CULEX ERRATICUS

In [22]:
# print("There are {} nulls in the training set, {} in the test set, {} in the weather set, and {} in the spray set.".format(train_df.isna().sum().sum(),
#                                                                                                                           test_df.isna().sum().sum(),
#                                                                                                                           weather_df.isna().sum().sum(),
#                                                                                                                           spray_df.isna().sum().sum()))
print("There are {} nulls in the training set and {} in the test set.".format(train_df.isna().sum().sum(), test_df.isna().sum().sum()))

There are 0 nulls in the training set and 0 in the test set.

## Proposed steps for cleaning: 
1. Turn Date into datetime type
2. Consider the following columns redundant? (Address, Block, Street, Address number and Street, Address Accuracy)
3. Bring in other data to make better use of the location information
4. Transform Latitude and Longitude information into a more useful form (distance to water, neighborhood, distance from other points?) **NOTE: THE LATITUDE AND LONGITUDE INFORMATION IS DERIVED FROM THE ADDRESS INFORMATION ACCORDING TO THE KAGGLE DESCRIPTION**

***These steps will each be implemented as a function, and a general cleaning function will gather them all together.***

In [27]:
def make_datetime(dataframe, date_col):
    pd.to_datetime(dataframe[date_col])

In [28]:
%run utilities/my_neighborhood_maker.py

In [29]:
get_neighborhood_for_point(train_df['Latitude'][0], train_df['Longitude'][0])

'Dunning'

In [33]:
neighborhood_col = []
for i in range(len(train_df['Latitude'])):
    neighborhood_col.append(get_neighborhood_for_point(train_df['Latitude'][i], train_df['Longitude'][i]))

In [36]:
len(neighborhood_col), train_df.shape[0]

(10506, 10506)

In [37]:
train_df['neighborhood'] = neighborhood_col

In [38]:
train_df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,neighborhood
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,Dunning
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,Dunning
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,"Sauganash,Forest Glen"
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,Norwood Park
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,Norwood Park

In [39]:
train_df.to_csv("train_with_neighborhoods.csv")

In [40]:
neighborhood_col = []
for i in range(len(test_df['Latitude'])):
    neighborhood_col.append(get_neighborhood_for_point(test_df['Latitude'][i], test_df['Longitude'][i]))
test_df['neighborhood'] = neighborhood_col

In [42]:
test_df.to_csv('test_with_neighborhoods.csv')

Schubert's part

In [ ]:
import pandas as pd 
import seaborn as sns 
import math 
import datetime

In [ ]:
def clean_code(data):
    pass

In [ ]:
def create_features(data):
    pass