Jon's part

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({
    'a':np.random.randint(32, 80, 100),
    'b':np.random.normal(size=100)
})

In [5]:
df.head()

    a         b
0  77  1.426239
1  71  0.320984
2  37 -0.537826
3  50  0.168644
4  57  0.639827

Schubert's part

In [1]:
import pandas as pd 
import seaborn as sns 
import math 
import datetime

In [2]:
def clean_code(data):
    pass

In [3]:
def create_features(data):
    pass