Jon's part

In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('west_nile/input/train.csv')

In [22]:
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [23]:
df.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [24]:
df['Date'] = pd.to_datetime(df['Date'])

In [25]:
df['Date'].dtype

dtype('<M8[ns]')

In [26]:
df['Species'].value_counts()

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

In [43]:
for bug in df['Species'].unique():
    print("There are {} cases with the mosquito {}".format(df['WnvPresent'][df['Species']==bug].sum(), bug))

There are 262 cases with the mosquito CULEX PIPIENS/RESTUANS
There are 49 cases with the mosquito CULEX RESTUANS
There are 240 cases with the mosquito CULEX PIPIENS
There are 0 cases with the mosquito CULEX SALINARIUS
There are 0 cases with the mosquito CULEX TERRITANS
There are 0 cases with the mosquito CULEX TARSALIS
There are 0 cases with the mosquito CULEX ERRATICUS

Schubert's part

In [1]:
import pandas as pd 
import seaborn as sns 
import math 
import datetime

In [2]:
def clean_code(data):
    pass

In [3]:
def create_features(data):
    pass